/* GERAL */
@font-face {
    font-family: "Splatter Kings";
    src: url(fonts/Splatter\ Kings.ttf) format("truetype");
}
body{
    margin: 0;
    font-family: 'Splatter Kings', sans-serif;
    background-color: #ebebeb;
    letter-spacing: 3px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn{
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 9px #999;
    background-color: #b9b9b9;
}
.btn:active{
    box-shadow: 0 4px #666;
    transform: translateY(4px);
}
.invisivel{
    visibility: hidden;
}

/* Seção Título */
#titulo h1{
    font-size: 50px;
    margin: 20px 0;
}

/* Seção Escolhas */
#escolhas{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.label{
    font-size: 20px;
    text-align: center;
}
#mao-cpu, #mao-jogador{
    height: 170px;
    width: 240px;
    opacity: 0.4;
    animation-name: floating;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}
#versus{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#versus img{
    width: 70px;
}
#mostrador{
    width: 220px;
    margin-top: 20px;
    font-size: 25px;
    text-align: center;
    color: #002fff;
}

/* Seção Controles */
#controles{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#controles > div:last-child{
    margin: 10px 0;
}
#botoes{
    width: 340px;
    display: flex;
    justify-content: space-evenly;
}
#botoes > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
}
#botoes > div > p{
    visibility: hidden;
}

.btn-jkp{
    width: 60px;
    height: 60px;
    padding: 10px 10px;
    border-radius: 50%;
}
.btn-jkp img{
    height: 30px;
}

.btn-jogar{
    padding: 15px 32px;
    text-align: center;
    color: #000;
    font-family: 'Splatter Kings', sans-serif;
    font-size: 20px;
    letter-spacing: 5px;
    border-radius: 15px;
    cursor: not-allowed;
}

/* Mobile */
@media only screen and (max-width: 700px){
    #titulo h1{
        margin: 2px 0 10px 0;
        font-size: 30px;
    }
    #escolhas{
        flex-flow: column-reverse;
    }
    #mao-cpu, #mao-jogador{
        height: 85px;
        width: 120px;
    }
    #versus img{
        width: 35px;
    }
    #mostrador{
        width: auto;
        font-size: 15px;
    }
    .label{
        margin: 10px 0;
    }
    #botoes{
        margin-top: 20px;
    }
    .lb-jkp{
        margin: 5px 0;
    }
}